<html>
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<title>
			IMDB REVIEW
		</title>
	</head>

	<body style="background: #bdb76b">

		<center>

			<h1 style="color: #00008b; padding: 20px; font-size: 5vw">
				IMDB REVIEW APP
			</h1>

			<form method="post" action="/search/stay/">
				<h1>
					ENTER KEYWORD(S)
				</h1>

				<input name="keyword" style="border: 1px solid #000; border-radius: 5px; height: 30px; width: 300px; text-align: center">
				<br><br>
                <button class="btn btn-success" style="border: 1px solid #000" type="submit" onclick="/search/stay/">SEARCH</button>
			</form>

		</center>
	</body>
</html>